.container {
  max-height: 50vh;
}
.card {
  position: relative;
  background-color: #fff;
  width: 700px;
  padding: 10px;
  max-width: 80vw;
  height: 800px;

  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.tindercards {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
.swipe {
  position: absolute;
}

.card h1 {
  position: absolute;
  bottom: 0px;
  margin: 10px;
  color: white;
}
